.hotspot-container{
    width: 100%;
}
.hotspot-details{
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.hotspot-details h1{
    font-family: "Outfit", sans-serif;
    color: #012169;
}
.hotspot-details p{
    font-family: "Outfit", sans-serif;
}
.hotspot-details .items{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.hotspot-details .items h1{
    color: #C8102E;
}
.hotspot-details .items img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.hotspot-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}