.nations-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nations-container .nations-title{
    padding: 10px 50px;
    background-color: aliceblue;
    box-shadow: 0px 0px 30px 0px rgb(190, 221, 248) inset;
}
.nations-title a{
    font-family: "Outfit", sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: #001b5b;
    font-weight: 400;
}
.nations-title a:hover{
    text-decoration: underline;
}
.nations-title p{
    font-family: "Outfit", sans-serif;
    font-size: 1.25rem;
    color: #012169;
    font-weight: 600;
}
.nations-container .nations-header{
    position: relative;
    width: 100%;
    background-color: #8ce2d0;
}
.nations-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nations-container .nations-header h1{
    font-size: 2.25rem;
    color: white;
    font-family: "Outfit", sans-serif;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
}
.nations-container .nations-details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #8ce2d0;
    padding: 20px 0px;
}
.capital h2, .currency h2, .timezone h2{
    font-family: "Outfit", sans-serif;
    color: #012169;
    font-size: 2rem;
}
.capital p, .currency p, .timezone p{
    font-family: "Outfit", sans-serif;
    color: #001b5b;
    font-size: 1.3rem;
    font-weight: 400;
}
.nations-information{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: aliceblue;
    width: 100%;
    padding: 2.5% 5%;
}
.nations-information h1{
    font-family: "Outfit", sans-serif;
    font-size: 2.3rem;
    color: #001b5b;
}
.nations-information p{
    width: 40%;
    font-size: 1.75rem;
    color: #001b5b;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
}
.nations-paragraphs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2.5% 5%;
    width: 100%;
}
.nations-paragraphs h1{
    font-family: "Outfit", sans-serif;
    font-size: 2.3rem;
    color: #001b5b;
}
.nations-paragraphs p{
    width: 50%;
    font-size: 1.75rem;
    color: #001b5b;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
}
.nations-gallery{
    background-color: #012169;
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 2.5% 5%;
}
.nations-gallery .gallery-scroll-button button img{
    width: 50px;
}
.nations-gallery .gallery-scroll-button{
    display: flex;
    gap: 20px;
    padding: 100px 0px;
}
.nations-gallery .gallery-scroll-button button{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    outline: none;
    border: none;
    background-color: #C8102E;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nations-gallery .gallery-scroll-button button:hover{
    background-color: #930d23;
}
.nations-gallery .gallery-images{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.nations-gallery .gallery-images img{
    width: 100%;
    object-fit: cover;
}
.nations-gallery .gallery-images::-webkit-scrollbar{
    display: none;
}
.filtered-cities{
    width: 100%;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #8ce2d0;
}
.filtered-cities-search{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #8ce2d0 ;
}
.filtered-cities-search .title{
    padding-left: 5%;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}
.filtered-cities-search .title input{
    border: none;
    outline: none;
    padding: 7px 14px;
    font-family: "Outfit", sans-serif;
    color: #C8102E;
    font-size: 1.1rem;
}
.error{
    width: 100%;
}
.error h1{
    color: white;
    font-family: "Outfit",sans-serif;
}
.city-item img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.city-item{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.city-item h1{
    color: white;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
}
.city-item h1:hover{
    text-decoration: underline;
}
.city-item h2{
    font-family: "Outfit", sans-serif;
    cursor: pointer;
    color: #C8102E;
    font-size: 1.7rem;
}
.city-item h2:hover{
    text-decoration: underline;
}
.city-item h3{
    font-family: "Outfit", sans-serif;
    cursor: pointer;
    color: #C8102E;
    font-size: 1.5rem;
}
.city-item h3:hover{
    text-decoration: underline;
}
.city-item p{
    color: white;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
}
.filtered-landmarks-search{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aliceblue;
}
.filtered-landmarks-search .title{
    padding-left: 5%;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}
.filtered-landmarks-search .title input{
    border: none;
    outline: none;
    padding: 7px 14px;
    font-family: "Outfit", sans-serif;
    color: #C8102E;
    font-size: 1.1rem;
}
.filtered-landmarks{
    width: 100%;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: aliceblue;
}
.landmark-item img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.landmark-item{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.landmark-item h1{
    color: #001b5b;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
}
.landmark-item h1:hover{
    text-decoration: underline;
}
.landmark-item h2{
    font-family: "Outfit", sans-serif;
    cursor: pointer;
    color: #C8102E;
    font-size: 1.7rem;
}
.landmark-item h2:hover{
    text-decoration: underline;
}
.landmark-item h3{
    font-family: "Outfit", sans-serif;
    cursor: pointer;
    color: #C8102E;
    font-size: 1.5rem;
}
.landmark-item h3:hover{
    text-decoration: underline;
}
.landmark-item p{
    color: white;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
}
